

img {
  float:left;
  margin-right:0.5em;
  margin-bottom:1em;
  box-shadow: 0 0 4px #CCCCCC;
  clear: left;
  padding: 0!important;
}

h1 {
  margin-bottom: 1.2em;
}

h1, h2, h3, h4, h5, h6, b, strong {
  font-weight: bold;
}

h2 {
  margin-top: 1.5em;
  font-size: 1.7em;
  line-height: 1.5em;
  margin-bottom: 0.618em;
  color: #3B3B3B;
}

h5 {
  margin-top: -0.5em;
  margin-bottom: 1em;
}

table {
  margin-bottom: 2em;
  width: auto;
  box-shadow: 0 0 4px #CCCCCC;
  border-collapse: collapse;
  border-spacing: 0;

  border-collapse:collapse;
  border-color:#CCCCCC; 
  border-style:solid; 
  border-width:1px;

  page-break-inside: avoid;
}
th, td, caption {
  padding: 0px 10px 4px 5px;
}
ul {
  margin-bottom: 3em;
}

caption, th, td {
  font-weight: 300;
}

thead tr, thead th {
  background: none repeat scroll 0 0 #F0F0F0;
}

tbody tr:nth-child(2n) td, tbody tr.odd td {
  background: none repeat scroll 0 0 #F0F0F0;
}
