
body {
    font-size:100%;
}

a {
    color:#666666;
    text-decoration:none;
    border-bottom: 1px solid #EEEEEE;
}

a:hover {
    color:#006699;
}

.alt {
  color: #666;
  font-family: "Warnock Pro", "Goudy Old Style","Palatino","Book Antiqua", Georgia, serif;
  font-style: italic;
  font-weight: normal;
}

#header-title {
    float:left;
    margin-bottom:0.4em;
    margin-top:0.4em;
    font-weight: bold;
    border-bottom: 0px;
}

#sidebar {
    color:#666666;
    font-size: 85%;
}

#twitter {
    color:#808080;
    font-style:italic;
}

#post-list ul {
    list-style:none outside none;
}

#post-list li {
    margin-bottom:0.7em;
}

#post-link {
    font-weight: bold;
}

#post-date {
    font-size:90%;
}

#post {
    font:1em/1.4 Georgia,serif;
    text-align:justify;
}

#post h2, #post h3, #post h4 {
    font-family:"Helvetica Neue",Arial,Helvetica,sans-serif;
    text-align:left;
}

pre, code, tt {
    font:0.9em/1.5 'andale mono','lucida console',monospace;
    overflow:auto;
    background-color:#F8F8FF;
}

#footer {
    text-align:center;
    color:#808080;
    font-style:italic;
    font-size: 85%;
}