
body {
    font-size:90%;
    background-color: #F9F9F4;
}

#content {
    padding-top: 50px;
    margin-left:20px;
}

#sidebar {
    padding-top: 35px;
}

#sidebar h3 {
    letter-spacing: -.08em;
}

a {
    color:#000000;
    text-decoration:none;
    border-bottom: 1px solid #EEEEEE;
}

a:hover {
    color:#336699;
    border-bottom:0px;
}

.alt {
  color: #666;
  font-family: "Warnock Pro", "Goudy Old Style","Palatino","Book Antiqua", Georgia, serif;
  font-style: italic;
}

#header-title {
    letter-spacing: -.08em;
    font-weight: bold;
    border-bottom: 0px;
    font-size: 130%;
    margin-left:20px;
}

#header-title:hover {
    border-bottom: 1px solid #EEEEEE;
}


#twitter {
    color:#808080;
    font-style:italic;
    font-size:90%;
}

#post-list ul {
    list-style:none outside none;
    padding-left:1em;
}

#post-date {
    font-size:85%;
}

#post-summary {
    font-size:80%;
    color:#666;
    margin:1em;
    line-height:1.5em;
}

pre, code, tt {
    font:0.9em/1.5 'andale mono','lucida console', monospace;
    overflow:auto;
    background-color:#F8F8FF;
    padding:0.25em 0.5em 0.5em !important;
    border:1px solid #DEDEDE;
}

#paginator {
    text-align:center;
    font-size: 90%;    
    padding: 0.5em;
}

#paginator_current {
   color: #E38E24;
}