<nav class="navbar navbar-fixed-top navbar-default navbar-blog" role="navigation">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-pages">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="/">{{ site.title }}</a>
  </div>

  <div class="collapse navbar-collapse navbar-pages">
    <ul class="nav navbar-nav navbar-right hidden-print thin">
      <li>
        <a class="hidden-xs" href="/?icn=navbar_posts"
          title="Posts">
          Posts
        </a>
        <a class="visible-xs" href="/"
          title="Posts">
          <i class="icon-file-text icon-large"></i>
        </a>
      </li>
      <li>
        <a class="hidden-xs" href="/quotes.html"
          title="Quotes">
          Quotes
        </a>
        <a class="visible-xs" href="/"
          title="Quotes">
          <i class="icon-file-text icon-large"></i>
        </a>
      </li>
      <li>
        <a class="hidden-xs" title="Projects" href="/projects.html">
          Projects
        </a>
        <a class="visible-xs" title="Projects" href="/projects.html">
          <i class="icon-code icon-large"></i> Projects
        </a>
      </li>
      <li>
        <a class="hidden-xs" title="About me" href="/about.html">
          About
        </a>
        <a class="visible-xs" title="About me" href="/about.html">
          <i class="icon-user icon-large"></i> About
        </a>
      </li>
      <li>
        <a class="hidden-xs" href="/atom.xml" title="Atom Feed">
          <i class="icon-rss icon-large"></i>
        </a>
        <a class="visible-xs" href="/atom.xml" title="Atom Feed">
          <i class="icon-rss icon-large"></i> Feed
        </a>
      </li>
    </ul>
  </div>
</nav>
