<form method="get" action="http://www.google.com/search">
  <table border="0" cellpadding="0" style="margin-bottom:0em;">
    <tr>
      <td>
	<input type="text"  style="font-size:100%;border:1px solid #EEEEEE"  name="q" size="15"	maxlength="255" value="" />
	<input type="submit" value="search" />
      </td>
    </tr>
    <tr  style="display:none;">
      <td align="center" style="font-size:75%">
	<input type="checkbox"  name="sitesearch"
	value="al3xandr3.github.com" checked />
      </td>
    </tr>
  </table>
</form>