<form method="get" action="http://www.google.com/search">
  <table border="0" cellpadding="0" style="">
    <tr>
      <td style="padding:0%">
	<input type="text"  style="font-size:120%;border:1px solid #BBBBBB"  name="q" size="12"	maxlength="255" value="" id="search-input" />
	<input type="submit" value="search" />
      </td>
    </tr>
    <tr style="display:none;">
      <td align="center" style="font-size:90%">
      	<input type="checkbox" name="sitesearch" value="al3xandr3.github.com" />
      </td>
    </tr>
  </table>
</form>
