---
layout: default
---

      <article>
        <header>
          <h1>{{ page.title }}</h1>
        </header>

        <section>
          {{ content }}
        </section>
        
        <footer>
          <span id="post-nav" style="font-size: 1.3em; line-height: 2.5em;">
            <a class="jump slide-left" title="top of the page" href="javascript:void(0);">Top</a>
            <span id="tosep" style="color:#DDDDDD;">|</span> 
            <a class="" title="Click to go back to home page" href="/">Home</a>
          </span>
          {% include disqus.html %}
        </footer>
      </article>
      
      <aside>
        <span property="dcterms:date" datatype="xsd:date" content="{{page.date}}">{{page.date|date_to_string}}</span></p>
        {% for cat in page.categories %}
          <a class="post-cat" href="/tags/{{cat}}.html" rel="dcterms:subject">{{cat}}</a>
        {% endfor %}
      </aside>
        

