---
layout: default
---

<div class="post" about="{{page.url}}">
  
  <div class="content-page">
    <div class="text-post"></div>
      <h3><a href="{{ page.url }}" property="dcterms:title">{{ page.title }}</a></h3>

      <div class="description" id="post-content">    
        {{ content }}
        <p style="float:right"><span property="dcterms:date" datatype="xsd:date" content="{{page.date}}">{{page.date|date_to_string}}</span></p>
      </div>
    </div>
    

  <span id="post-details" style="float:right;font-size:1.2em;margin-right:29px">
  <p class="tags" >
  {% for cat in page.categories %}
  <a class="post-cat" href="/tags/{{cat}}.html" rel="dcterms:subject">{{cat}}</a>
  {% endfor %}
  </p>
  </span>
  
  <span id="post-nav" style="font-size: 1.3em; line-height: 2.5em;">
  <a class="jump slide-left" title="top of the page" href="javascript:void(0);">Top</a>
  <span id="tosep" style="color:#DDDDDD;">|</span> 
  <a class="" title="Click to go back to home page" href="/">Home</a>
  </span>
</div>
    
{% include disqus.html %}
